[submodule "Vessel/vendor/spdlog"]
	path = Vessel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vessel/vendor/GLFW"]
	path = Vessel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Vessel/vendor/imgui"]
	path = Vessel/vendor/imgui
	url = https://github.com/TheCherno/imgui
